@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root{
    --cor0: #973dd2;
    --cor1: #641bad;
    --cor2: #321659;
    --cor3: #1c1240;
    --cor4: #0d0d0d;

    --sans-serif: 'Montserrat', sans-serif;
    --serif: 'Source Serif Pro', serif;
    --monospace: 'Roboto Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 5.8125em;
    margin: 0 auto;
}

header h1{
    font: 700 2rem var(--monospace);
    color: var(--cor1);
    letter-spacing: .3em;
}

header nav{
    display: flex;
    align-items: center;
    gap: 2.5em;
}

header nav a{
    text-decoration: none;
    font: 400 1em var(--monospace);
    color: var(--cor4);
}

header nav a:hover{
    color: var(--cor0);
    transition: .5s;
}

#btn-nav{
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 10px;
}

#btn-nav:hover{
    background-color: var(--cor1);
    color: white;
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#nr{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{padding-left: 10vw;}
.text h2{
    font: 500 2rem var(--sans-serif);
    letter-spacing: 10px;
    line-height: 50px;
    text-align: center;
}

.text a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(88.21deg, #321659 1.91%, #641BAD 44.99%, #973DD2 91.82%);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 20vw;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    font: 400 1.25rem var(--monospace);
}

#nr img{
    width: 40vw;
}